<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<!------ Include the above in your HEAD tag ---------->


<div class="w3-container w3-black w3-center w3-allerta">
  <p class="w3-xxxlarge">Tabla de equipos</p>
  <p class="w3-xlarge">Lista de equipos en espera de inscripción</p>
</div>

    
    <!-- Tabs Titles -->
    
    <!-- Icon -->
   
    <!-- Login Form -->
    <p-table [value]='entradas'>
      <ng-template pTemplate="header">
          <tr>
              <th>Numero equipo</th>
              <th>Nombre de equipo</th>
              <th>Cantidad de jugadores</th>
              <th>Nombre de tecnico</th>
              <th>Numero de factura</th>
              <th>Dia de registro</th>
              <th>Tipo de torneo</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dato>
          <tr>
              <td>{{dato.numeroequipo}}</td>
              <td>{{dato.nombreequipo}}</td>
              <td>{{dato.cantidadjugadores}}</td>
              <td>{{dato.nombredetecnico}}</td>
              <td>{{dato.numerodefactura}}</td>
              <td>{{dato.diaderegistro}}</td>
              <td>{{dato.tipotorneo}}</td>
          </tr>
      </ng-template>
    </p-table>
    
    <!--numero_equipo ?: number;
    nombre_equipo ? : string;
    cantidad_jugadores ? : string;
    nombre_de_tecnico ? : string;
    numero_de_factura ? : string;
    dia_de_registro ? : string;
    tipo_torneo ? : string;-->
      
 
 
<div class="wrapper fadeInDown">
  <form> 
    <input type="button" class="fadeIn fourth" (click)="cargarDatos()"  value="mostrar"><!--Salir</button>-->
  </form>
  <form (submit)="volverAd()">
    <input type="submit" class="fadeIn fourth" name="accion" value="Volver">
  </form>
    <div id="formContent">
    </div>
</div>

